/* Desktop size */
.button-wrapper{
  height: 100%;
  padding: 5px;
}

.button-wrapper:hover{
  border-bottom: 2px solid black; 
  cursor: pointer;
}

.sort-list-button{
  background-color: #2B78D7;  
}

.clear-list-button{
  background-color: #F03A18;
}

.sort-list-button,
.clear-list-button{
  color: white;
  font-size: 23px;
  font-weight: 600;
}

.sort-list-button:hover,
.clear-list-button{
  cursor: pointer;
}

/* Tablet size */
@media all and (max-width: 1025px) {
  .button-wrapper{
    padding: 4px;
  }
  
  .sort-list-button,
  .clear-list-button{
    font-size: 17px;
    font-weight: 700;
    height: 35px;
  }

  .clear-list-button{
    width: 100px;
  }
}

/* Standard mobile size */
@media all and (max-width: 550px) {
  .button-wrapper{
    height: 40px;
    padding: 3px;
  }
  
  .button-wrapper:hover{
    border-bottom: 1px solid black; 
  }
  
  .clear-list-button{
    width: 85px;
  }
  
  .sort-list-button,
  .clear-list-button{
    font-size: 14px;
    font-weight: 600;
  }
}

/* Slim mobile size */
@media all and (max-width: 320px) {
  .button-wrapper{
    padding: 3px;
    height: 40px;
  }

  .sort-list-button,
  .clear-list-button{
    font-size: 12px;
    font-weight: 600;
  }
  
  .clear-list-button{
    width: 75px;
  }
}