/* Desktop size */
.ordered-list-container{
  margin-top: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.modifier-wrapper{
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.input-wrapper{
  padding: 5px;
}

.input-field{
  width: 400px;
  height: 35px;
  font-size: 24px;
}

.button-wrapper{
  height: 100%;
  padding: 5px;
}

.button-wrapper:hover{
  border-bottom: 2px solid black; 
  cursor: pointer;
}

.sort-list-button{
  background-color: #2B78D7;  
}

.clear-list-button{
  background-color: #F03A18;
}

.sort-list-button,
.clear-list-button{
  color: white;
  font-size: 23px;
  font-weight: 600;
}

.sort-list-button:hover,
.clear-list-button{
  cursor: pointer;
}

.list-wrapper{
  margin-top: 10px;
  padding: 5px;
  width: 500px;
}

.list{
  width: 100%;
}

.list-item{
  font-size: 24px;
}

/* Tablet size */
@media all and (max-width: 1025px) {
  .ordered-list-container{
    margin-top: 200px;
  }
  
  .modifier-wrapper{
    height: 50px;
    align-items: baseline;
  }
  
  .input-wrapper{
    padding: 4px;
  }
  
  .input-field{
    height: 35px;
    font-size: 24px;
  }
  
  .button-wrapper{
    padding: 4px;
  }
  
  .sort-list-button,
  .clear-list-button{
    font-size: 20px;
    font-weight: 700;
    height: 35px;
  }

  .clear-list-button{
    width: 100px;
    font-size: 17px;
  }
  
  .list-wrapper{
    margin-top: 10px;
    padding: 5px;
    width: 400px;
  }
  
  .list{
    width: 100%;
  }

  .list-item{
    font-size: 24px;
  }
}

/* Standard mobile size */
@media all and (max-width: 550px) {
  .ordered-list-container{
    margin-top: 150px;
    height: 100vh;
  }
  
  .modifier-wrapper{
    height: 30px;
  }
  
  .input-wrapper{
    padding: 3px;
  }
  
  .input-field{
    width: 200px;
    height: 35px;
    font-size: 14px;
  }
  
  .button-wrapper{
    padding: 3px;
  }
  
  .button-wrapper:hover{
    border-bottom: 1px solid black; 
  }
  
  .clear-list-button{
    width: 85px;
  }
  
  .sort-list-button,
  .clear-list-button{
    font-size: 14px;
    font-weight: 600;
  }
  
  .list-wrapper{
    margin-top: 20px;
    padding: 5px;
    width: 300px;
  }
  
  .list{
    width: 100%;
  }

  .list-item{
    font-size: 14px;
  }
}

/* Slim mobile size */
@media all and (max-width: 320px) {
  .input-field{
    width: 160px;
    height: 35px;
    font-size: 11px;
  }
  
  .button-wrapper{
    padding: 3px;
    height: 40px;
  }

  .sort-list-button,
  .clear-list-button{
    font-size: 12px;
    font-weight: 600;
  }
  
  .clear-list-button{
    width: 75px;
  }

  .list-wrapper{
    margin-top: 25px;
    padding: 2px;
    width: 90%;
  }
  
  .list-item{
    font-size: 12px;
  }
}